---
layout: default
title: Публикации и доклады
---

    <!-- Begin page content -->
<main role="main" class="container" style="text-align: left;">
	
      <div class="lead">
	<h1 class="mt-5">Статьи</h1>
  {% for paper in site.data.publications.papers %}
    <div class="article" style="margin-top: 2em;">
      {{paper.author}} <a href="{{ paper.link | relative_url }}" target="_blank" title="Открыть в новой вкладке">{{paper.name}}</a> // {{ paper.other }}.
    </div>
  {% endfor %}
	<h1 class="mt-5">Доклады</h1>
  {% for paper in site.data.publications.talks %}
    <div class="article" style="margin-top: 2em;">
      {{paper.author}} <a href="{{ paper.link | relative_url }}" target="_blank" title="Открыть в новой вкладке">{{paper.name}}</a> // {{ paper.other }}.
    </div>
  {% endfor %}

</main>
